<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
  </head>

<header class="site-header" role="banner">
  <div class="navbar-wrapper">
    <div class="container">
      <div class="navbar-header">
        <ul class="navbar">
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="rawdata.html">Data</a></li>
          <li><a href="analytics.html">Analytics</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<body>

</body>
